@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #5a17c7, #8b50db);
    color: #fff;
    font-size: 16px;
}

header {
    width: 100%;
    height: 10vh;
    background: linear-gradient(135deg, #5a17c7, #8b50db);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-bottom: 3px solid #ddd;
}

.qsn {
    width: 80%;
    margin: 2.5% auto;
    padding: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    font-size: 24px;
    font-weight: 500;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.box0 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    margin: 2.5% auto;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 100%;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    background: #6a1b9a;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    background: #8e24aa;
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.button:focus {
    outline: none;
    background: #ab47bc;
    color: #fff;
}

.next {
    margin: 15px auto;
    width: 250px;
    text-align: center;
}

.nextBtn {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    background: #283593;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.nextBtn:hover {
    background: #3949ab;
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.restartButton {
    
    margin: 15px auto;
    width: 250px;
    text-align: center;
}

#restartButton {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    background: #c62828;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#restartButton:hover {
    background: #e53935;
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.res {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}
